
<div class="game__container">
    <h2>Choose game</h2>
    <ul class="game-list__container">
        <ng-template ngFor let-game [ngForOf]="games">
            <li class="game-list__item">
                <div class="game-linkfield" [ngClass]="game.thumbnailClass">
                </div>
            </li>
        </ng-template>
    </ul>

</div>

<div class="enemy__container">
    <h2>Choose Player</h2>
    <ul class="enemy-list__container">
        <ng-template ngFor let-user [ngForOf]="users">
            <li class="enemy-list__item"
                *ngIf="user.name !== currentUser.name" (click)="selectPlayer($event, user)"
                [class.selected]="user.name === selectedPlayer.name">
                {{user.name}}




            </li>
        </ng-template>
    </ul>
</div>
<button class="button button__start" (click)="challengePlayer()">Go!</button>
<game-modal class="challenge" [class.active]="isModalActive" 
            [isModalActive]="isModalActive" [enemyUser]="enemyUser"
            >
</game-modal>
