<section class="modal" *ngIf="activeModal !== modals.none">
  <app-challenged-modal class="modal__container" [enemyUserName]="enemyUserName"
    (challengeResponse)="onChallengeResponse($event)"
    *ngIf="activeModal === modals.challengedModal">

  </app-challenged-modal>
  <app-waiting-modal class="modal__container"
    *ngIf="activeModal === modals.waitingModal">

  </app-waiting-modal>

  <app-declined-modal class="modal__container" [enemyUserName]="enemyUserName"
    *ngIf="activeModal === modals.declinedModal">

  </app-declined-modal>
</section>
