<section class="modal" [ngSwitch]="activeModal.name"
         *ngIf="activeModal.name !== modals.empty">
  <app-challenged-modal class="modal__container"
    (challengeResponse)="onChallengeResponse($event)"
    *ngSwitchCase="modals.challenged" [args]="activeModal.args">

  </app-challenged-modal>
  <app-waiting-modal class="modal__container"
    *ngSwitchCase="modals.waiting">

  </app-waiting-modal>

  <app-declined-modal class="modal__container"
    *ngSwitchCase="modals.declined">

  </app-declined-modal>

  <app-gameover-modal class="modal__container"
    (restartGame)="gameRestart()"
    *ngSwitchCase="modals.gameover">
  </app-gameover-modal>
</section>
