TicTacToe.API/packages/
TicTacToe.API/TicTacToe.WebApi/bin/Debug/
TicTacToe.API/ConsoleApp1/
TicTacToe.API/TicTacToe.WebApi/obj/
TicTacToe-app/node_modules/
docu/
TicTacToe-app/dist/
TicTacToe.API/TicTacToe.WebApi/bin/
TicTacToe.API/.vs/
.env
TicTacToe-app/.vscode/
*.WebApi.csproj.user
TicTacToe-app/npm-debug.log*
TicTacToe-app/coverage/
*.log
