/TicTacToe_Core/.vs
TicTacToe_Core/bin/
TicTacToe_Core/obj/Debug/
TicTacToe_Core/obj/
TicTacToe_Core/node_modules
signalRConnection/node_modules/
signalRConnection/.vscode/
WebApplication1/obj/
WebApplication1/bin/
app/packages/
app/.vs/
