<header>
  <nav>
    <ul class="nav-list__container">
      <li class="nav-list__item" routerLink="">
        Home
      </li>

      <li class="nav-list__item" style="margin-right: auto;" routerLink="/test">
        Test
      </li>
      <li class="nav-list__item" style="margin-right: auto;" (click)="switch()">{{turn}}</li>
      <li *ngIf="isLoggedIn; else auth" class="nav-list__item" (click)="logout()">
        Logout {{userName}}
      </li>
      <ng-template #auth>
        <li class="nav-list__item" routerLink="/login">
          Login
        </li>
        <li class="nav-list__item" routerLink="/register">
          Register
        </li>
      </ng-template>
    </ul>
  </nav>
</header>
