<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/authorization.css" rel="stylesheet" />
</head>
<body>
    <div class="form-container">
        @RenderBody()
    </div>
</body>
</html>
