<div>

<ng-template ngFor let-game [ngForOf]="selectedGames">
    {{game.name}}
</ng-template>
</div>

<table class="m-table">
  <tr class="m-table__row m-table__row--header">
    <th class="m-table__header">Name</th>
    <th class="m-table__header">Status</th>
    <th class="m-table__header"></th>
  </tr>
  <ng-template ngFor let-user [ngForOf]="userOnline">
    <tr class="m-table__row" *ngIf="user !== currentUser" (click)="enemyClicked(user)">
      <td class="m-table__data">{{user}}</td>
      <td class="m-table__data">Online</td>
      <td class="m-table__data">
          <input class="a-checkbox" [checked]="user === selectedPlayer" type="checkbox" name="{{user}}" id="{{user}}">
          <label class="a-label a-label--checkbox" for="{{user}}"></label>
      </td>
    </tr>
  </ng-template>
</table>
