<div>
  <h2>
    Hi, {{ currentUser }} {{selectedGame.name}}! I heard you wanna play a round of Tic Tac Toe! <br />
    See who's online and challenge them.
  </h2>
  <ul class="enemy-list__container">
    <ng-template ngFor let-user [ngForOf]="userOnline">
      <li
        class="enemy-list__item"
        (click)="selectedPlayer = user"
        *ngIf="user !== currentUser"
        [class.selected]="user == selectedPlayer"
      >
        <span>{{ user }}</span>
      </li>
    </ng-template>
  </ul>
  <button class="button button__start" (click)="challengeSelectedPlayer()">
    Go!
  </button>
</div>
