<!-- [TODO] Validation text fields -->
<section class="authorization">
  <form #form="ngForm" (ngSubmit)="register(form)" class="authorization-form">
    <div class="authorization-form__container">
      <input type="text" name="userName" value="User" ngModel required />
      <input type="password" name="password" placeholder="Password" required ngModel />
      <input type="password" name="confirmPassword" placeholder="Confirm Password" required ngModel />

      <button class="a-button" type="submit" [disabled]="form.invalid">
        Register
      </button>
    </div>
  </form>
  <ul class="authorization-form__errors">
    <ng-template ngFor let-error [ngForOf]="errors">
      <li>{{error}}</li>
    </ng-template>
  </ul>
</section>
