<!-- [TODO] Validation text fields -->
<section class="authorization">
  <form class="authorization-form" action="/Authorization/Register" method="post">
    <div class="authorization-form__container">
      <input type="text" name="UserName" value="User" />
      <input type="password" name="Password" placeholder="Password" />
      <input type="password" name="PasswordConfirm" placeholder="Confirm Password" />

      <button class="button button__submit" type="submit">Register</button>
    </div>
  </form>
</section>
