.authorization-form {
    width: 50%;
    margin: 0 auto;
}

.authorization-form__container {
    display: flex;
    flex-direction: column;
}

.authorization-form__container input {
    padding: 10px;
    /* margin-bottom: 5px; */
}

.authorization-form__container input:last-of-type {
    /* border-top: none; */
    margin-bottom: 5px;
    margin-top: 3px;
}


.authorization-form__container button {
    padding: 5px;
}
