* {
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    width: 100%;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    width: 33.33333%;
    display: flex;
}

.box__inner {
    background-color: #b9b9b9;
    margin: 1px;
    flex-grow: 1;
}
