@import "0base/mixins";

$transition: .6s ease-in-out;

ul {
  list-style-type: none;
}

.main-menu {
  width: 50%;

  .m-list {
    &__item {
      height: 40px;
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      > span {
        padding-left: 10px;

        &::before {
          content: "";
          border: 1px solid lightgray;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          transition: width #{$transition}, border #{$transition}, border-width #{$transition};
          transition-delay: 0s;
        }
      }
      &:hover {
        > span {
          &::before {
            border: 1px solid black;
            width: 100%;
            height: 100%;
          }
        }

        &::after {
          opacity: 1;
        }
      }
      &::after {
        @include icon("\f061");
        position: absolute;
        right: 0;
        padding-right: 10px;
        opacity: .5;
        transition: opacity #{$transition};
      }
    }
  }
}
