$max-height: 40vh;

:host {
  display: block;
}

.select-game {
  &__image {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      max-height: $max-height;

      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
    }

    &.rps {
      img {
        background-image: url(../../../assets/images/rps_thumbnail.png);
      }
    }

    &.ttt {
      img {
        background-image: url(../../../assets/images/TicTacToe_thumbnail.png);
      }
    }
  }
}
