@{
    Layout = "~/TicTacToe/Game/Views/Shared/_GamesLayout.cshtml";
}

<div class="game__container">
    <h2>Choose your game</h2>
    <ul class="game-list__container">
        <li class="game-list__item" v-for="game in games">
            <div class="game-linkfield" v-bind:class="game.thumbnailClass" data-link="{{game.url}}">
            </div>
        </li>
    </ul>
</div>

<div class="enemy__container">
    <h2>Choose your Enemy</h2>
    <ul class="enemy-list__container">
        <li class="enemy-list__item" 
            v-for="user in userOnline" v-if="user !== currentUser"
            v-bind:key="user" v-on:click="selectEnemy($event, user)" >
            {{user}}
        </li>
    </ul>
</div>

<button class="button button__start" v-on:click="challengeEnemy">Go!</button>

<script>
    var gameVue = new Vue({
        el: 'section.game',
        data: {
            userOnline: [],
            currentUser: '@Context.User.Identity.Name',
            selectedEnemy: '',
            EnemyIsSelected: false,
            games: {
                tictactoe: {
                    title: 'Tic Tac Toe',
                    thumbnailClass: 'tictactoe__thumbnail',
                    url: 'games/tictactoe'
                }

            }

            
        },
        created: function () {
            this.connection = new signalR.HubConnection("/game/")
        },
        mounted: function () {
            var that = this;
            that.connection.start()
                // Init Get Connected User 
                .then(() => {
                    that.connection
                        .invoke('GetConnectedUser');
                });

            // Sets Connected User by getting list of online User in Hub
            that.connection.on('SetConnectedUser', function (userOnline) {
                that.userOnline = userOnline;
            });
            that.connection.on('Challenged', function (challenger) {
                that.challenger = challenger;
                //that.modals.challengeModal.active = true;
                $('section.challenge').addClass('active');

            });
            //open waiting for enemy Modal
            that.connection.on('waiting', function () {
                //that.modals.waitingModal.active = true;
                $('section.challenge').addClass('active');
            });

            // Enemy reacted to your challenge
            that.connection.on('Response', function (enemy, action) {
                that.modals.waitingModal.waitingMessage = enemy + " has " + action;
            });

            // Enemy reacted to your challenge
            that.connection.on('GoToGame', function (url) {
                window.location.href = url;
            });
        },
        methods: {
            selectEnemy: function (event, user) {
                var that = this;
                that.selectedEnemy = user;
                $(event.target).parent().find('.selected').removeClass('selected');
                $(event.target).toggleClass('selected');
            },
            challengeEnemy: function () {
                var that = this;
                that.connection.invoke('Challenge', that.selectedEnemy);
            },
            makeMeGray: function () {


            }

        }
    });
</script>