@{
    Layout = "~/TicTacToe/Game/Views/Shared/_GamesLayout.cshtml";
}

<section class="game">
    <div class="game__container">
        <h2>Choose your game</h2>
        <ul class="game-list__container">
            <li class="game-list__item">
                <div class="game-linkfield" data-link="/games/tictactoe">
                    Go! TicTacToe
                </div>
            </li>
        </ul>
    </div>

    <div class="enemy__container">
        <h2>Choose your Enemy</h2>
        <ul class="enemy-list__container">
        </ul>
    </div>

    <button class="button button-start">Go!</button>
</section>