@{
    Layout = "~/TicTacToe/Game/Views/Shared/_GamesLayout.cshtml";
}

<div class="game__container">
    <h2>Choose your game</h2>
    <ul class="game-list__container">
        <li class="game-list__item">
            <div class="game-linkfield" data-link="/games/tictactoe">
                Go! TicTacToe
            </div>
        </li>
    </ul>
</div>

<div class="enemy__container">
    <h2>Choose your Enemy</h2>
    <ul class="enemy-list__container">
        <li class="enemy-list__item" 
            v-for="user in userOnline" v-if="user !== currentUser"
            v-bind:key="user" v-on:click="selectEnemy($event, user)">
            {{user}}
        </li>
    </ul>
</div>

<button class="button button-start" v-on:click="challengeEnemy">Go!</button>

<script>
    var gameVue = new Vue({
        el: 'section.game',
        data: {
            userOnline: [],
            currentUser: '@Context.User.Identity.Name',
            connection: null,
            selectedEnemy: ''
        },
        created: function () {
            this.connection = new signalR.HubConnection("/game/")
        },
        mounted: function () {
            var that = this;
            that.connection.start()
                .then(() => {
                    that.currentUserId =
                        that.connection.connection.connectionId;

                    that.connection
                        .invoke('GetConnectedUser');
                });
            that.connection.on('SetConnectedUser', function (userOnline) {
                that.userOnline = userOnline;
            });
        },
        methods: {
            selectEnemy: function (event, user) {
                var that = this;
                that.selectedEnemy = user;
                $(event.target).parent().find('.selected').removeClass('selected');
                $(event.target).toggleClass('selected');
            },
            challengeEnemy: function () {
                var that = this;
                that.connection.invoke('Challenge', that.selectedEnemy);
            }
        }
    });
</script>