@{
    Layout = "~/TicTacToe/Game/Views/Shared/_GamesLayout.cshtml";

}

<div class="wrapper">

    <div v-for="box in boxes2" v-bind:key="box" class="box" >
        <div class="box__inner" 
             v-bind:class="box.state" 
             v-on:click="changeField($event, box.id)">
             
        </div>
    </div>
</div>

<script>
    var gameVue = new Vue({
        el: 'section.game',
        data: {
            message: 'Hello Vue.js!',
            userName: '',
            enemyName: '',
            isTurn: false,
            connection: null,
            //tictactoe boxes propertys
            boxes: [
                {
                    id: '1-1',
                    state: null,
                },
                {
                    id: '1-2',
                    state: null,
                },
                {
                    id: '1-3',
                    state: null,
                },
                {
                    id: '2-1',
                    state: null,
                },
                {
                    id: '2-2',
                    state: null,
                },
                {
                    id: '2-3',
                    state: null,
                },
                {
                    id: '3-1',
                    state: null,
                },
                {
                    id: '3-2',
                    state: null,
                },
                {
                    id: '3-3',
                    state: null,
                }
            ],
            boxes2: {
                '1-1': {
                    id: '1-1',
                    state: null
                },
                '1-2': {
                    id: '1-2',
                    state: null
                },
                '1-3': {
                    id: '1-3',
                    state: null
                },
                '2-1': {
                    id: '2-1',
                    state: null
                },
                '2-2': {
                    id: '2-2',
                    state: null
                },
                '2-3': {
                    id: '2-3',
                    state: null
                },
                '3-1': {
                    id: '3-1',
                    state: null
                },
                '3-2': {
                    id: '3-2',
                    state: null
                },
                '3-3': {
                    id: '3-3',
                    state: null
                }
            }
        },
        created: function () {
            this.connection = new signalR.HubConnection("/game/")
        },
        mounted: function () {
            var that = this;
            that.connection.start();     
            that.connection.on('tileChange', function (tileId) {
                if (that.boxes2[tileId].state != null) {
                    console.log("Cant be changed");
                }
                if (that.boxes2[tileId].state === "cross") {
                    that.boxes2[tileId].state = "circle";
                }
                else {
                    that.boxes2[tileId].state = "cross";
                }
            });
        },
        methods: {
            changeField: function (event, id) {
                var that = this;
                that.connection.invoke('TileClicked', id);
            }
        }
    })
</script>