<div *ngIf="!isGameSelected" class="game__container">
    <h2>Which game do you want to play</h2>
    <ul class="game-list__container">
        <ng-template ngFor let-game [ngForOf]="games">
            <li class="game-list__item" (click)="selectGame($event, game)">
                <div class="game-linkfield" [ngClass]="game.thumbnailClass">
                </div>
            </li>
        </ng-template>
    </ul>
</div>

<div *ngIf="isGameSelected" class="enemy__container">
    <h2>See who's online</h2>
    <ul class="enemy-list__container">
        <ng-template ngFor let-user [ngForOf]="users">
            <li class="enemy-list__item"
                *ngIf="user.name !== currentUser.name" (click)="selectPlayer($event, user)"
                [class.selected]="user.name === selectedPlayer.name">
                <span>{{user.name}}</span>
            </li>
        </ng-template>
    </ul>
    <button class="button button__start" (click)="challengePlayer()">Go!</button>

</div>

<game-modal class="challenge" [class.active]="isModalActive"
            [isModalActive]="isModalActive" [enemyUserName]="enemyUser.name"
            (response)="onChallengeResponse($event)">
</game-modal>