/** Colors **/

// As hex codes */

$white: #fff;
$black: #000;
$color-main-prim: #3ED571; // Main Primary color */
$color-main-prim-light: #94EFB3;
$color-main-prim-dark: #00B03C;

$color-main-sec: #4390C7; // Main Secondary color (1) */
$color-main-sec-light: #96C7E9;
$color-main-sec-dark: #095E9A;

$color-main-sec-2: #FFB14B; // Main Secondary color (2) */
$color-main-sec-2-light: #FFD59E;
$color-main-sec-2-dark: #F08800;

$color-main-complement: #e84c30; // Main Complement color */
$color-main-complement-light: #FFAD9E;
$color-main-complement-dark: #F02500;
