/** BODY vars */
$font-size-body-lg: 1rem;
$font-size-body-md: 1rem;
$font-size-body-sm: 1rem;

$font-size-body: (
  lg: $font-size-body-lg,
  md: $font-size-body-md,
  sm: $font-size-body-sm
);

/** H1 vars */
$font-size-h1-lg: 3rem;
$font-size-h1-md: 2.5rem;
$font-size-h1-sm: 2rem;
$font-size-h1: (
  lg: $font-size-h1-lg,
  md: $font-size-h1-md,
  sm: $font-size-h1-sm
);

$line-height-h1-lg: 1.05rem;
$line-height-h1-md: 1.125rem;
$line-height-h1-sm: 1.25rem;
$line-height-h1: (
  lg: $line-height-h1-lg,
  md: $line-height-h1-md,
  sm: $line-height-h1-sm
);

/** H2 vars */
$font-size-h2-lg: 2.4rem;
$font-size-h2-md: 2.1rem;
$font-size-h2-sm: 1.625rem;
$font-size-h2: (
  lg: $font-size-h2-lg,
  md: $font-size-h2-md,
  sm: $font-size-h2-sm
);

$line-height-h2-lg: 1.25rem;
$line-height-h2-md: 1.25rem;
$line-height-h2-sm: 1.5384615rem;
$line-height-h2: (
  lg: $line-height-h2-lg,
  md: $line-height-h2-md,
  sm: $line-height-h2-sm
);

/** H3 vars */
$font-size-h3-lg: 2.1rem;
$font-size-h3-md: 1.8rem;
$font-size-h3-sm: 1.375rem;

$font-size-h3: (
  lg: $font-size-h3-lg,
  md: $font-size-h3-md,
  sm: $font-size-h3-sm
);

$line-height-h3-lg: 1.25rem;
$line-height-h3-md: 1.25rem;
$line-height-h3-sm: 1.13636364rem;
$line-height-h3: (
  lg: $line-height-h3-lg,
  md: $line-height-h3-md,
  sm: $line-height-h3-sm
);

/** H4 vars */
$font-size-h4-lg: 1.125rem;
$font-size-h4-md: 1.125rem;
$font-size-h4-sm: 1.125rem;

$font-size-h4: (
  lg: $font-size-h4-lg,
  md: $font-size-h4-md,
  sm: $font-size-h4-sm
);

$line-height-h4-lg: 1.222222222rem;
$line-height-h4-md: 1.222222222rem;
$line-height-h4-sm: 1.111111111rem;
$line-height-h4: (
  lg: $line-height-h4-lg,
  md: $line-height-h4-md,
  sm: $line-height-h4-sm
);

// /** H5 vars */
// $font-size-h5-lg: 3rem;
// $font-size-h5-md: 2.5rem;
// $font-size-h5-sm: 2rem;

// $font-size-h5: (
//   lg: $font-size-h5-lg,
//   md: $font-size-h5-md,
//   sm: $font-size-h5-sm
// );

// $line-height-h5-lg: 1.05rem;
// $line-height-h5-md: 1.125rem;
// $line-height-h5-sm: 1.25rem;
// $line-height-h5: (
//   lg: $line-height-h5-lg,
//   md: $line-height-h5-md,
//   sm: $line-height-h5-sm
// );

// /** H6 vars */
// $font-size-h6-lg: 3rem;
// $font-size-h6-md: 2.5rem;
// $font-size-h6-sm: 2rem;

// $font-size-h6: (
//   lg: $font-size-h6-lg,
//   md: $font-size-h6-md,
//   sm: $font-size-h6-sm
// );

$font-size-p-lg: 22px;
$font-size-p-md: 22px;
$font-size-p-sm: 22px;

$font-size-p: (
  lg: $font-size-p-lg,
  md: $font-size-p-md,
  sm: $font-size-p-sm,
);
// $line-height-h6-lg: 1.05rem;
// $line-height-h6-md: 1.125rem;
// $line-height-h6-sm: 1.25rem;
// $line-height-h6: (
//   lg: $line-height-h6-lg,
//   md: $line-height-h6-md,
//   sm: $line-height-h6-sm
// );


a {
  text-decoration: none;
}

html {
  line-height: 1.5;

  @include add-by-property($font-size-body, font-size);

  font-family: "Karla";
  font-weight: normal;
  // color: $off-black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3;
}

// TODOANDI fix variables
// Header Styles
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  @include add-font-size($font-size-h1);
  font-weight: bold;
  // @include add-by-property($line-height-h1, line-height);
}
h2 {
  @include add-font-size($font-size-h2);
  // @include add-by-property($line-height-h2, line-height);
}
h3 {
  @include add-font-size($font-size-h3);
  // @include add-by-property($line-height-h3, line-height);
}
h4 {
  @include add-font-size($font-size-h4);
  // @include add-by-property($line-height-h4, line-height);
}
// h5 {
//   @include add-font-size($font-size-h5);
//   @include add-by-property($line-height-h5, line-height);
// }
// h6 {
//   @include add-font-size($font-size-h6);
//   @include add-by-property($line-height-h6, line-height);
// }

// Text Styles
rem {
  font-style: italic;
}
strong {
  font-weight: 500;
}
small {
  font-size: 75%;
}


.light {
  font-weight: 300;
}
.thin {
  font-weight: 200;
}
