*, *:before, *:after {
	margin: 0;
    padding: 0;

	box-sizing: border-box !important;
}
body {
    box-sizing: border-box;
}

header {
    background-color: $steel-blue;
    // height: $header-height;
}

header, section {
    > * {
        max-width: 1440px;
        margin: 0 auto;
    }
}

section {
    > * {
        margin: 52px auto 0;
    }
}

.a-image {
    // fixme
    height: 400px;
}

// scoped styles on tictactoe aren't working
$grid-columns: 3;
$grid-rows: 3;
$border-tictactoe: 5px solid black;
/*#\31 -2*/
@for $i from 1 through $grid-columns {
  @for $j from 1 through $grid-rows {
      #\3#{$i}-#{$j} {
          @if $i == 1 or $i == 2 {
              border-bottom: $border-tictactoe;
          }
          @if $j == 1 or $j == 2{
              border-right: $border-tictactoe;
          }

      }
  }
}
