.a-button {
    &--start {
        border: 50px $steel-blue solid;
        max-height: 400px;
        max-width: 800px;
        height: 100%;
        width: 100%;
        margin: auto;
        border-radius: 20px;
        transition: border 1s linear;

        &:hover {
            transition: border 1s linear;
            border-color: $white;
        }
    }

    &--back {
      // FIXME media queries
      width: 65px;
      height: 65px;
      position: absolute;
      &:before {
        @include icon("\f104");
      }
    }

    &--next {
      margin-top: 20px;
    }
}
