  <section>
  <div>
    <ul class="o-grid cols-3">
      <li class="o-grid__element m-card" *ngFor="let post of posts; let i = index, trackById">
        <h2 class="m-card__title">{{ post.title }}</h2>
        <div class="m-card__date">
          {{post.created_at | date: 'medium' }}
        </div>
        <div class="m-card__image">
          <img [src]="post.feature_image" alt="">
        </div>
        <div class="m-card__teaser-text">
          {{post.excerpt}}
        </div>
        <a class="a-link" [routerLink]="post.url">to the page!</a>
      </li>
    </ul>
  </div>
</section>
