@import '1atom/a-mixins';

.o-grid__element {
  display: flex;
  flex-flow: column nowrap;

  .m-card__teaser-text {
    flex-grow: 1;
  }
}
.feature-image {
  @include aspect-ratio-container(3, 1, cover, top);
}
