
<div class="modal__container">
    <div class="challenge__container" *ngIf="activeModal === 'challenged'">
        <h1 class="modal__header">{{challengerUser}} hat dich herausgefordert!</h1>
        <span class="challenge__close-button">X</span>
        <div class="button-wrapper">
            <button class="button button--big button__accept"
                    (click)="accept($event)"
                    data-action="accepted">
                Accept
            </button>

            <button class="button button--big button__decline"
                    (click)="decline($event)"
                    data-action="declined">
                Decline
            </button>
        </div>
    </div>

    <div class="waiting__container" *ngIf="activeModal === 'waiting'">
        <h1 class="modal__header">Waiting for your Enemy to React</h1>
        <div class="waiting__text">
            <button (click)="gameStart()">go</button>
            <div class="waiting__spinner">
                <div class="waiting__spinner--dot dot1"></div>
                <div class="waiting__spinner--dot dot2"></div>
                <div class="waiting__spinner--dot dot3"></div>
            </div>
        </div>
    </div>
</div>
