.a-checkbox {
    position: absolute;
    opacity: 0;

    &:checked + label {
        @include icon("\f00c") {
          transform: rotate(-360deg);
          transition: transform .3s ease-in-out;
        };
    }
}
