<!-- [TODO] Validation text fields -->
<section class="authorization">
<form #form="ngForm" (ngSubmit)="login(form)"class="authorization-form">
    <div class="authorization-form__container">
        <input type="text" name="userName" value="User"
          ngModel required #userName="ngModel" />
        <input *ngIf="!anonymousUser" type="password" name="password" placeholder="Password"
          [attr.required]="!anonymousUser" ngModel />
        <button type="submit" class="button button__submit" [disabled]="form.invalid">
          Login
        </button>
    </div>
</form>
<span>If you haven't yet registred <a class="a-link" routerLink="/register">register here</a></span>

<span>Or try anonymous <a class="a-link" (click)="anonymousUser = true">by clicking here</a></span>
<ul class="authorization-form__errors">
  <ng-template ngFor let-error [ngForOf]="errors">
    <li>{{error}}</li>
  </ng-template>
</ul>
</section>
