<!-- [TODO] Validation text fields -->
<section class="authorization">
<form class="authorization-form" action="/Authorization/Login" method="post">
    <div class="authorization-form__container">
        <input type="text" name="UserName" value="User" />
        <input type="password" name="Password" placeholder="Password" />
        <button class="button button__submit" type="submit">Login</button>
    </div>
</form>
<span>If you haven't yet registred <a href="/register">register here</a></span>
</section>
