<!-- [TODO] Validation text fields -->
<section class="authorization">
  <form #form="ngForm" (ngSubmit)="login(form)" class="authorization-form">
    <div class="authorization-form__container">
      <input type="text" name="userName" value="User" ngModel required #userName="ngModel" />
      <input *ngIf="!anonymousUser" type="password" name="password" placeholder="Password"
        [attr.required]="!anonymousUser" ngModel />
      <button type="submit" class="a-button" [disabled]="form.invalid">
        Login
      </button>
    </div>
  </form>
  <div class="authorization-options">
    <div>
      If you haven't yet registred
      <a class="a-link" routerLink="/register">
        register here
      </a>
    </div>

    <div *ngIf="!anonymousUser">
      Or try anonymous
      <a class="a-link" (click)="anonymousUser = true">
        by clicking here</a>
      </div>
    <div *ngIf="anonymousUser">
      Login if you're already registered
      <a class="a-link" (click)="anonymousUser = false">
        by clicking here
      </a>
    </div>
  </div>
  <ul class="authorization-form__errors">
      <li *ngFor="let error of errors; let i=index; trackBy:i;">{{error}}</li>
  </ul>
</section>
