@import '0base/colors';
@import 'variables';
// TODOANDI: double declaration of o-nav styles. global and scoped angular.
// @import '../../styles/3organism/o-nav';

:host {
  header {
    visibility: hidden;
  }

  &.active {
    header {
      visibility: visible;

    }
  }
}

header {
  background-color: $color-main-prim;
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.16);
  height: $nav-height;
  position: fixed;
  width: 100%;

  > * {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.m-list {
  &__item {
    padding: 10px;

    &:first-child {
      margin-right: auto;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.anonymous:after {
  content: "anonymous";
  font-size: 12px;
  position: relative;
  top: -15px;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 3px;
}
