
.rps {
  display: flex;
  justify-content: center;
  &__tile {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;

    &--rock {
      background: red;
    }

    &--paper {
      background: green;
    }

    &--scissors {
      background: blue;
    }
  }
}
