<div class="tile-wrapper" [class.not-your-turn]="!turn">
  <div class="box" *ngFor="let box of boxes; trackById">
      <div class="box__inner"
            [ngClass]="box.state"
            (click)="changeField(box.id)"
            id="{{box.id}}">
      </div>
  </div>
  <svg #winSvg class="win__svg">
    <line x1="0" y1="100%" x2="100%" y2="0"
    style="stroke:rgb(0,0,0);stroke-width:4"/>
  </svg>
</div>

<div class="box--single">
  <div class="box__inner"
       [ngClass]="selfTileState">

  </div>
</div>
