* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
}

    #main.faded {
        opacity: 0.5;
    }
/* Grid */

body {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header" "body" "footer"
}

footer {
    grid-area: footer;
}

.body-content {
    grid-area: body;
}

/* Grid END */

/* Sections */
section {
    min-height: 80vh;
}
/* Sections END */

section.game {
    height: 500px;
}
