.t-fullscreen {
  // display: flex;
  max-width: 100vw;
  height: calc(100vh - #{$header-height});

  &.-blue-background {
    background-color: $steel-blue;
  }

  &__content {
    display: flex;
    width: 100%;
  }
}