<section class="challenge">
    <div class="challenge__container">
        <h1 class="challenge__header"></h1>
        <span class="challenge__close-button">X</span>
        <div class="button-wrapper">
            <button class="button button-accept">Accept</button>
            <button class="button button-decline">Decline</button>
        </div>
    </div>
    
</section>