<section class="challenge">
    <div class="challenge__container">
        <h1 class="challenge__header"></h1>
        <button class="accept">Accept</button>
        <button class="decline">Decline</button>
    </div>
    
</section>