.authorization {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .authorization-form {

      &__container {
          display: flex;
          flex-direction: column;
          min-width: 270px;
          max-width: 450px;
          padding: 5px 10px 10px 10px;
          border-radius: 3px 3px 3px 3px;
          border: 1px solid rgba(0,0,0,0.2);

          > input {
              padding: 10px;
              border: none;
              border-bottom: 1px solid rgba(0,0,0,0.2);
          }

          > input:last-of-type {
              margin-bottom: 15px;
          }
      }

      &__errors {
        text-align: left;
        padding-top: 20px;
        color: red;
      }
  }
}
