// scoped styles on tictactoe aren't working
$grid-columns: 3;
$grid-rows: 3;
$border-tictactoe: 5px solid black;
/*#\31 -2*/
@for $i from 1 through $grid-columns {
  @for $j from 1 through $grid-rows {
      #\3#{$i}-#{$j} {
          @if $i == 1 or $i == 2 {
              border-bottom: $border-tictactoe;
          }
          @if $j == 1 or $j == 2{
              border-right: $border-tictactoe;
          }

      }
  }
}


// actual angular bug where the scoped css isnt apllied to innerHTML dom changes
.ghost-html {
  // &__content {
    // > :first-child {
    //   margin: 0;
    // }
    position: relative;
    background-color: $white;
    top: -70px;

    > :first-child {
      padding-top: 20px;
    }



    > h2 {
      line-height: 38px;
    }

    > ul, ol {
      @extend .m-list !optional;

      > li {
        // @extend .m-list__item !optional;
      }
    }

    > pre {
      @extend .m-code !optional;
    }
  // }
}


// workaround for full-width images to work; dont know how to fix yet
section {
  > * {
    &.ghost-html {
      max-width: none;
      padding: 0;

      > *:not(.kg-width-full) {
        max-width: $content-max-width;
        margin: 20px auto 0;
      }

      .kg-width-full {
        @include aspect-ratio-container(16, 7, cover) {
          img { padding-bottom: 20px; }

          figcaption { position: relative; text-align: center; }
        }
      }

      // .kg-width-wide {
      //   @include aspect-ratio-container(16, 7, cover);
      // }

      .kg-image-card {
        @include aspect-ratio-container(16, 7, cover);
      }

      .kg-gallery-image {
        @include aspect-ratio-container(16, 7, cover) {
          margin-bottom: 20px;
        };
      }

      figure {
        margin: 1.5em 0 3em;
      }

      .kg-image-card:not(.kg-width-full):not(.kg-width-wide) {
        max-width: $content-inner-width;
      }
    }
  }
  @media #{$medium-only} {
  }

  @media #{$small-only} {

  }
}

