// scoped styles on tictactoe aren't working
$grid-columns: 3;
$grid-rows: 3;
$border-tictactoe: 5px solid black;
/*#\31 -2*/
@for $i from 1 through $grid-columns {
  @for $j from 1 through $grid-rows {
      #\3#{$i}-#{$j} {
          @if $i == 1 or $i == 2 {
              border-bottom: $border-tictactoe;
          }
          @if $j == 1 or $j == 2{
              border-right: $border-tictactoe;
          }

      }
  }
}

// actual angular bug where the scoped css isnt apllied to innerHTML dom changes
.ghost-html {
  // &__content {
    // > :first-child {
    //   margin: 0;
    // }
    position: relative;
    background-color: $white;
    top: -70px;

    > :first-child {
      padding-top: 20px;
    }

    > p + p {
      margin: 20px 0 0;
    }

    > * {
      margin: 20px 0 0;
    }

    > h2 {
      line-height: 38px;
    }

    > ul, ol {
      @extend .m-list !optional;

      > li {
        // @extend .m-list__item !optional;
      }
    }

    > pre {
      @extend .m-code !optional;
    }
  // }
}
