/** Colors **/

$red: red;
$orrange: orange;
$green: #47d173;



// As hex codes */

$color-green: #3ED571; // Main Primary color */
$color-green-light: #94EFB3;
$color-green-dark: #00B03C;

$color-blue: #4390C7; // Main Secondary color (1) */
$color-blue-light: #96C7E9;
$color-blue-dark: #095E9A;

$color-orange: #FFB14B; // Main Secondary color (2) */
$color-orange-light: #FFD59E;
$color-orange-dark: #F08800;

$color-red: #e84c30; // Main Complement color */
$color-red-light: #FFAD9E;
$color-red-dark: #F02500;

$tablet-width: 768px;
$desktop-width: 1024px;

// @mixin tablet {
//   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }


@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
