// Media widths
$tablet-width: 768px;
$desktop-width: 1024px;
$content-max-width: 1440px;
$content-inner-width: 880px;


$simple-box-shadow: 0 0 8px 3px rgba(17, 17, 17, 0.3);

/** ## Dimensions start ## **/

/** Navigation **/
$nav-height: 40px;
$section-margin: 52px;
/** ## Dimensions end ## **/

/* */
