<section class="t-fullscreen">
  <app-select-game
    class="t-fullscreen__content select-game"
    (gameSelected)="gameSelected($event)"
    *ngIf="selectionState === 0">
  </app-select-game>

  <app-select-player class="t-fullscreen__content"
      (playerSelected)="enemySelected($event)"
      [selectedGames]="selectedGames"
      *ngIf="selectionState > 0">
  </app-select-player>

  <button
    *ngIf="selectionState === 2 && isPlayerSelected"
    class="button button__start"
    (click)="challengeSelectedPlayer()"
    >
    Go!
  </button>
</section>
