@import "../../styles/_variables.scss";
section.home {
  margin: 10px auto;
  width: 80vw;
  padding: 10px;
  box-shadow: $simple-box-shadow;

  @include mobile {
    margin: 10px 0;
    width: 100%;
  }
}
