@import "../../styles/_variables.scss";
section.home {
  margin: 10px auto;
  width: 80vw;
  padding: 10px;
  box-shadow: $simple-box-shadow;

  @include mobile {
    margin: 10px 0;
    width: 100%;
  }
  .enemy-list {
    &__container {
      list-style-type: none;
      margin: 0 auto;
      width: 50%;

    }

    &__item {
      padding: 10px;
      margin-top: 5px;
      border: solid 1px black;
      border-radius: 2px;
      transition: background-color 0.3s linear;

      &.selected {
        background-color: rgba(0,0,0,0.3);
      }

      &:first-child {
        margin-top: 20px;
      }


    }
  }
}
