<section class="t-fullscreen">
  <button class="a-button a-button--back" (click)="back()">
    back
  </button>

  <app-select-game
    class="t-fullscreen__content"
    (gameSelected)="gameSelected($event)"
    [class.minimized]="!isGameSelected">
  </app-select-game>

  <app-select-player class="t-fullscreen__content"
      (playerSelected)="enemySelected($event)"
      *ngIf="isGameSelected">
  </app-select-player>

  <button
    *ngIf="isGameSelected && isPlayerSelected"
    class="button button__start"
    (click)="challengeSelectedPlayer()">
    Go!
  </button>
</section>
